<!-- Validation failure messages -->

<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Listing #<%= @listing.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_listing/<%= @listing.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for title -->
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">
              Title
            </label>
            <div class="col-sm-10">
              <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @listing.title %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @listing.description %></textarea>
            </div>
          </div>

          <!-- Label and input for bedrooms -->
          <div class="form-group">
            <label for="bedrooms" class="col-sm-2 control-label">
              Bedrooms
            </label>
            <div class="col-sm-10">
              <input type="text" id="bedrooms" name="bedrooms" placeholder="Bedrooms" class="form-control" value="<%= @listing.bedrooms %>">
            </div>
          </div>

          <!-- Label and input for bathrooms -->
          <div class="form-group">
            <label for="bathrooms" class="col-sm-2 control-label">
              Bathrooms
            </label>
            <div class="col-sm-10">
              <input type="text" id="bathrooms" name="bathrooms" placeholder="Bathrooms" class="form-control" value="<%= @listing.bathrooms %>">
            </div>
          </div>

          <!-- Label and input for price -->
          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">
              Price
            </label>
            <div class="col-sm-10">
              <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @listing.price %>">
            </div>
          </div>

          <!-- Label and input for date_available -->
          <div class="form-group">
            <label for="date_available" class="col-sm-2 control-label">
              Date available
            </label>
            <div class="col-sm-10">
              <input type="text" id="date_available" name="date_available" placeholder="Date available" class="form-control" value="<%= @listing.date_available %>">
            </div>
          </div>

          <!-- Label and input for term -->
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">
              Term
            </label>
            <div class="col-sm-10">
              <input type="text" id="term" name="term" placeholder="Term" class="form-control" value="<%= @listing.term %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @listing.address %>">
            </div>
          </div>

          <!-- Label and input for unit -->
          <div class="form-group">
            <label for="unit" class="col-sm-2 control-label">
              Unit
            </label>
            <div class="col-sm-10">
              <input type="text" id="unit" name="unit" placeholder="Unit" class="form-control" value="<%= @listing.unit %>">
            </div>
          </div>

          <!-- Label and input for city -->
          <div class="form-group">
            <label for="city" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @listing.city %>">
            </div>
          </div>

          <!-- Label and input for state -->
          <div class="form-group">
            <label for="state" class="col-sm-2 control-label">
              State
            </label>
            <div class="col-sm-10">
              <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @listing.state %>">
            </div>
          </div>

          <!-- Label and input for zip -->
          <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">
              Zip
            </label>
            <div class="col-sm-10">
              <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @listing.zip %>">
            </div>
          </div>

          <!-- Label and input for image_file1 -->
          <div class="form-group">
            <label for="image_file1" class="col-sm-2 control-label">
              Image file1
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_file1" name="image_file1" placeholder="Image file1" class="form-control" value="<%= @listing.image_file1 %>">
            </div>
          </div>

          <!-- Label and input for image_file2 -->
          <div class="form-group">
            <label for="image_file2" class="col-sm-2 control-label">
              Image file2
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_file2" name="image_file2" placeholder="Image file2" class="form-control" value="<%= @listing.image_file2 %>">
            </div>
          </div>

          <!-- Label and input for image_file3 -->
          <div class="form-group">
            <label for="image_file3" class="col-sm-2 control-label">
              Image file3
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_file3" name="image_file3" placeholder="Image file3" class="form-control" value="<%= @listing.image_file3 %>">
            </div>
          </div>

          <!-- Label and input for image_file4 -->
          <div class="form-group">
            <label for="image_file4" class="col-sm-2 control-label">
              Image file4
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_file4" name="image_file4" placeholder="Image file4" class="form-control" value="<%= @listing.image_file4 %>">
            </div>
          </div>

          <!-- Label and input for image_file5 -->
          <div class="form-group">
            <label for="image_file5" class="col-sm-2 control-label">
              Image file5
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_file5" name="image_file5" placeholder="Image file5" class="form-control" value="<%= @listing.image_file5 %>">
            </div>
          </div>

          <!-- Label and input for landlord_id -->
          <div class="form-group">
            <label for="landlord_id" class="col-sm-2 control-label">
              Landlord
            </label>
            <div class="col-sm-10">
              <input type="text" id="landlord_id" name="landlord_id" placeholder="Landlord" class="form-control" value="<%= @listing.landlord_id %>">
            </div>
          </div>

          <!-- Label and input for contact_email -->
          <div class="form-group">
            <label for="contact_email" class="col-sm-2 control-label">
              Contact email
            </label>
            <div class="col-sm-10">
              <input type="text" id="contact_email" name="contact_email" placeholder="Contact email" class="form-control" value="<%= @listing.contact_email %>">
            </div>
          </div>

          <!-- Label and input for status -->
          <div class="form-group">
            <label for="status" class="col-sm-2 control-label">
              Status
            </label>
            <div class="col-sm-10">
              <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @listing.status %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Listing
              </button>
              or
              <a href="/listings/<%= @listing.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
