



<div class="page-header">
  <h1>
    Listings
  <% if current_landlord.present? %>
    <a href="/listings/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>

  <% else %>

  <% end %>
  </h1>
</div>


<hr>

<table class="table table-hover">
<tr>
  <td>Title </td>
  <td>Price </td>
  <td>BR </td>
  <td>BA </td>
  <td>Date available</td>
  <td>Term</td>
  <td>Status</td>
  <% if current_landlord.present? %>
  <td>ID </td>
  <td> </td>
  <td> </td>
  <td> </td>

  <% else %>
  <td>ID </td>
  <td> </td>
  <% end %>
</tr>


<% @listings.each do |listing| %>

<% if current_landlord.present? %>

<% if listing.landlord_id.to_i == current_landlord.id.to_i %>

<tr>
  <td><%= listing.title %> </td>
  <td><%= listing.price %> </td>
  <td><%= listing.bedrooms %> </td>
  <td><%= listing.bathrooms %> </td>
  <td><%= listing.date_available %></td>
  <td><%= listing.term %></td>
  <td>
      <% if listing.status == 0 %>
      Available
      <% elsif listing.status == 1 %>
      Rented
      <% else %>

      <% end %>
  </td>
  <td><%= listing.id %> </td>
  <td>
      <a href="/listings/<%= listing.id %>" class="btn btn-default">
        <i class="fa fa-search-plus"></i>
      </a>
  </td>

  <td>
      <a href="/listings/<%= listing.id %>/edit" class="btn btn-default">
        <i class="fa fa-edit"></i>
      </a>
  </td>

  <td>
      <a href="/delete_listing/<%= listing.id %>" class="btn btn-default" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
  </td>


</tr>
<% end %>
<% elsif current_renter.present? %>

<tr>
  <td><%= listing.title %> </td>
  <td><%= listing.price %> </td>
  <td><%= listing.bedrooms %> </td>
  <td><%= listing.bathrooms %> </td>
  <td><%= listing.date_available %></td>
  <td><%= listing.term %></td>
  <td>
      <% if listing.status == 0 %>
      Available
      <% elsif listing.status == 1 %>
      Rented
      <% else %>

      <% end %>
  </td>

  <td><%= listing.id %> </td>

  <td>
      <a href="/listings/<%= listing.id %>" class="btn btn-primary">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </a>
  </td>

</tr>

<% else %>


<% end %>




<% end %>
</table>

