<!-- Validation failure messages -->

<% if @application.errors.any? %>
  <% @application.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Application</h3>
      </div>
      <div class="panel-body">
        <form action="/create_application" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for first_name -->
      <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="first_name" class="col-md-4 control-label">
              First name
            </label>
            <div class="col-md-6">
              <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= current_renter.first_name %>">
            </div>
          </div>

          <!-- Label and input for middle_name -->
          <div class="form-group">
            <label for="middle_name" class="col-md-4 control-label">
              Middle name
            </label>
            <div class="col-md-6">
              <input type="text" id="middle_name" name="middle_name" placeholder="Middle name" class="form-control" value="<%= current_renter.middle_name %>">
            </div>
          </div>

          <!-- Label and input for last_name -->
          <div class="form-group">
            <label for="last_name" class="col-md-4 control-label">
              Last name
            </label>
            <div class="col-md-6">
              <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= current_renter.last_name %>">
            </div>
          </div>

          <!-- Label and input for dob -->
          <div class="form-group">
            <label for="dob" class="col-md-4 control-label">
              Dob
            </label>
            <div class="col-md-6">
              <input type="date" id="dob" name="dob" placeholder="Dob" class="form-control" value="<%= current_renter.dob %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">
              Email
            </label>
            <div class="col-md-6">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= current_renter.email %>">
            </div>
          </div>

          <!-- Label and input for address_0 -->
          <div class="form-group">
            <label for="address_0" class="col-md-4 control-label">
              Current Address
            </label>
            <div class="col-md-6">
              <input type="text" id="address_0" name="address_0" placeholder="Address 0" class="form-control" value="<%= current_renter.address_0 %>">
            </div>
          </div>

          <!-- Label and input for city_0 -->
          <div class="form-group">
            <label for="city_0" class="col-md-4 control-label">
              Current City
            </label>
            <div class="col-md-6">
              <input type="text" id="city_0" name="city_0" placeholder="City 0" class="form-control" value="<%= current_renter.city_0 %>">
            </div>
          </div>

          <!-- Label and input for state_0 -->
          <div class="form-group">
            <label for="state_0" class="col-md-4 control-label">
              Current State
            </label>
            <div class="col-md-6">
              <input type="text" id="state_0" name="state_0" placeholder="State 0" class="form-control" value="<%= current_renter.state_0 %>">
            </div>
          </div>

          <!-- Label and input for zip_0 -->
          <div class="form-group">
            <label for="zip_0" class="col-md-4 control-label">
              Current Zip
            </label>
            <div class="col-md-6">
              <input type="text" id="zip_0" name="zip_0" placeholder="Zip 0" class="form-control" value="<%= current_renter.zip_0 %>">
            </div>
          </div>

          <!-- Label and input for address_date_from_0 -->
          <div class="form-group">
            <label for="address_date_from_0" class="col-md-4 control-label">
              Current Address From
            </label>
            <div class="col-md-6">
              <input type="date" id="address_date_from_0" name="address_date_from_0" placeholder="Address date from 0" class="form-control" value="<%= current_renter.address_date_from_0 %>">
            </div>
          </div>

          <!-- Label and input for address_date_to_0 -->
          <div class="form-group">
            <label for="address_date_to_0" class="col-md-4 control-label">
              Current Address To
            </label>
            <div class="col-md-6">
              <input type="date" id="address_date_to_0" name="address_date_to_0" placeholder="Address date to 0" class="form-control" value="<%= current_renter.address_date_to_0 %>">
            </div>
          </div>

          <!-- Label and input for rent_0 -->
          <div class="form-group">
            <label for="rent_0" class="col-md-4 control-label">
              Rent
            </label>
            <div class="col-md-6">
              <input type="number" id="rent_0" name="rent_0" placeholder="Rent 0" class="form-control" value="<%= current_renter.rent_0 %>">
            </div>
          </div>

          <!-- Label and input for landlord_name_0 -->
          <div class="form-group">
            <label for="landlord_name_0" class="col-md-4 control-label">
              Landlord name
            </label>
            <div class="col-md-6">
              <input type="text" id="landlord_name_0" name="landlord_name_0" placeholder="Landlord name 0" class="form-control" value="<%= current_renter.landlord_name_0 %>">
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <!-- Label and input for employer_name_0 -->
          <div class="form-group">
            <label for="employer_name_0" class="col-md-4 control-label">
              Employer name
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_name_0" name="employer_name_0" placeholder="Employer name 0" class="form-control" value="<%= @application.employer_name_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_role_0 -->
          <div class="form-group">
            <label for="employer_role_0" class="col-md-4 control-label">
              Employer role
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_role_0" name="employer_role_0" placeholder="Employer role 0" class="form-control" value="<%= @application.employer_role_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_salary_0 -->
          <div class="form-group">
            <label for="employer_salary_0" class="col-md-4 control-label">
              Employer salary
            </label>
            <div class="col-md-6">
              <input type="number" id="employer_salary_0" name="employer_salary_0" placeholder="Employer salary 0" class="form-control" value="<%= @application.employer_salary_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_address_0 -->
          <div class="form-group">
            <label for="employer_address_0" class="col-md-4 control-label">
              Employer address
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_address_0" name="employer_address_0" placeholder="Employer address 0" class="form-control" value="<%= @application.employer_address_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_city_0 -->
          <div class="form-group">
            <label for="employer_city_0" class="col-md-4 control-label">
              Employer city
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_city_0" name="employer_city_0" placeholder="Employer city 0" class="form-control" value="<%= @application.employer_city_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_state_0 -->
          <div class="form-group">
            <label for="employer_state_0" class="col-md-4 control-label">
              Employer state
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_state_0" name="employer_state_0" placeholder="Employer state 0" class="form-control" value="<%= @application.employer_state_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_zip_0 -->
          <div class="form-group">
            <label for="employer_zip_0" class="col-md-4 control-label">
              Employer zip
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_zip_0" name="employer_zip_0" placeholder="Employer zip 0" class="form-control" value="<%= @application.employer_zip_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_date_from_0 -->
          <div class="form-group">
            <label for="employer_date_from_0" class="col-md-4 control-label">
              Employer date start:
            </label>
            <div class="col-md-6">
              <input type="date" id="employer_date_from_0" name="employer_date_from_0" placeholder="Employer date from 0" class="form-control" value="<%= @application.employer_date_from_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_date_to_0 -->
          <div class="form-group">
            <label for="employer_date_to_0" class="col-md-4 control-label">
              Employer date to:
            </label>
            <div class="col-md-6">
              <input type="date" id="employer_date_to_0" name="employer_date_to_0" placeholder="Employer date to 0" class="form-control" value="<%= @application.employer_date_to_0 %>">
            </div>
          </div>

          <!-- Label and input for employer_manager_0 -->
          <div class="form-group">
            <label for="employer_manager_0" class="col-md-4 control-label">
              Manager
            </label>
            <div class="col-md-6">
              <input type="text" id="employer_manager_0" name="employer_manager_0" placeholder="Employer manager 0" class="form-control" value="<%= @application.employer_manager_0 %>">
            </div>
          </div>

          <!-- Label and input for pets_dogs -->
          <div class="form-group">
            <label for="pets_dogs" class="col-md-4 control-label">
              Pets dogs
            </label>
            <div class="col-md-6">
              <input type="number" id="pets_dogs" name="pets_dogs" placeholder="Pets dogs" class="form-control" value="0" min="0" max="10">
            </div>
          </div>

          <!-- Label and input for pets_cats -->
          <div class="form-group">
            <label for="pets_cats" class="col-md-4 control-label">
              Pets cats
            </label>
            <div class="col-md-6">
              <input type="number" id="pets_cats" name="pets_cats" placeholder="Pets cats" class="form-control" value="0" min="0" max="10">
            </div>
          </div>

          <!-- Label and input for pets_other -->
          <div class="form-group">
            <label for="pets_other" class="col-md-4 control-label">
              Pets other
            </label>
            <div class="col-md-6">
              <input type="number" id="pets_other" name="pets_other" placeholder="Pets other" class="form-control" value="0" min="0" max="10">
            </div>
          </div>

          <!-- Label and input for pets_explanation -->
          <div class="form-group">
            <label for="pets_explanation" class="col-md-4 control-label">
              Pets explanation
            </label>
            <div class="col-md-6">
              <textarea id="pets_explanation" name="pets_explanation" placeholder="Pets explanation" class="form-control" rows="3"><%= @application.pets_explanation %></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">

          <!-- Label and input for eviction -->
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
            <b>Please select the following if they apply:</b>
            </div>



            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="eviction">
                  <input type="checkbox" id="eviction" name="eviction" value="1" <%= "checked" if @application.eviction %>>
                  Been Evicted
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for bankruptcy -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="bankruptcy">
                  <input type="checkbox" id="bankruptcy" name="bankruptcy" value="1" <%= "checked" if @application.bankruptcy %>>
                  Filed for Bankruptcy
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for crime -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="crime">
                  <input type="checkbox" id="crime" name="crime" value="1" <%= "checked" if @application.crime %>>
                  Convicted of Felony
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for explanation -->
          <div class="form-group">
            <label for="explanation" class="col-sm-2 control-label">
              Explanation
            </label>
            <div class="col-sm-10">
              <textarea id="explanation" name="explanation" placeholder="Provide explanation if selected one of fields above" class="form-control" rows="3"><%= @application.explanation %></textarea>
            </div>
          </div>

          <!-- Label and input for explanation_more -->
          <div class="form-group">
            <label for="explanation_more" class="col-sm-2 control-label">
              Additional Comments
            </label>
            <div class="col-sm-10">
              <textarea id="explanation_more" name="explanation_more" placeholder="Please provide any additional comments you have about your application" class="form-control" rows="3"><%= @application.explanation_more %></textarea>
            </div>
          </div>

          <!-- Label and input for credit_check_approval -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="credit_check_approval">
                  <input type="checkbox" id="credit_check_approval" name="credit_check_approval" value="1" <%= "checked" if @application.credit_check_approval %>>
                  Credit check approval
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for bg_check_approval -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="bg_check_approval">
                  <input type="checkbox" id="bg_check_approval" name="bg_check_approval" value="1" <%= "checked" if @application.bg_check_approval %>>
                  Bg check approval
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for signature -->
          <div class="form-group">
            <label for="signature" class="col-sm-2 control-label">
              Signature
            </label>
            <div class="col-sm-10">
              <input type="text" id="signature" name="signature" placeholder="Signature" class="form-control" value="<%= @application.signature %>">
            </div>
          </div>


          <!-- Label and input for listing_id -->
<%= @listing_pass_id %>

              <input type="hidden" id="listing_id" name="listing_id" value="<%= @listing_pass_id %>">


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Application
              </button>
              or
              <a href="/applications"> Cancel </a>
            </div>
            </div></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
