<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Application #<%= @application.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>First name</dt>
              <dd><%= @application.first_name %></dd>

              <dt>Middle name</dt>
              <dd><%= @application.middle_name %></dd>

              <dt>Last name</dt>
              <dd><%= @application.last_name %></dd>

              <dt>Dob</dt>
              <dd><%= @application.dob %></dd>

              <dt>Email</dt>
              <dd><%= @application.email %></dd>

              <dt>Mobile</dt>
              <dd><%= @application.mobile %></dd>

              <dt>Address 0</dt>
              <dd><%= @application.address_0 %></dd>

              <dt>City 0</dt>
              <dd><%= @application.city_0 %></dd>

              <dt>State 0</dt>
              <dd><%= @application.state_0 %></dd>

              <dt>Zip 0</dt>
              <dd><%= @application.zip_0 %></dd>

              <dt>Address date from 0</dt>
              <dd><%= @application.address_date_from_0 %></dd>

              <dt>Address date to 0</dt>
              <dd><%= @application.address_date_to_0 %></dd>

              <dt>Rent 0</dt>
              <dd><%= @application.rent_0 %></dd>

              <dt>Landlord name 0</dt>
              <dd><%= @application.landlord_name_0 %></dd>

              <dt>Landlord phone 0</dt>
              <dd><%= @application.landlord_phone_0 %></dd>

              <dt>Employer name 0</dt>
              <dd><%= @application.employer_name_0 %></dd>

              <dt>Employer role 0</dt>
              <dd><%= @application.employer_role_0 %></dd>

              <dt>Employer salary 0</dt>
              <dd><%= @application.employer_salary_0 %></dd>

              <dt>Employer address 0</dt>
              <dd><%= @application.employer_address_0 %></dd>

              <dt>Employer city 0</dt>
              <dd><%= @application.employer_city_0 %></dd>

              <dt>Employer state 0</dt>
              <dd><%= @application.employer_state_0 %></dd>

              <dt>Employer zip 0</dt>
              <dd><%= @application.employer_zip_0 %></dd>

              <dt>Employer date from 0</dt>
              <dd><%= @application.employer_date_from_0 %></dd>

              <dt>Employer date to 0</dt>
              <dd><%= @application.employer_date_to_0 %></dd>

              <dt>Employer manager 0</dt>
              <dd><%= @application.employer_manager_0 %></dd>

              <dt>Employer phone 0</dt>
              <dd><%= @application.employer_phone_0 %></dd>

              <dt>Pets dogs</dt>
              <dd><%= @application.pets_dogs %></dd>

              <dt>Pets cats</dt>
              <dd><%= @application.pets_cats %></dd>

              <dt>Pets other</dt>
              <dd><%= @application.pets_other %></dd>

              <dt>Pets explanation</dt>
              <dd><%= @application.pets_explanation %></dd>

              <dt>Eviction</dt>
              <dd><%= @application.eviction %></dd>

              <dt>Bankruptcy</dt>
              <dd><%= @application.bankruptcy %></dd>

              <dt>Crime</dt>
              <dd><%= @application.crime %></dd>

              <dt>Explanation</dt>
              <dd><%= @application.explanation %></dd>

              <dt>Explanation more</dt>
              <dd><%= @application.explanation_more %></dd>

              <dt>Credit check approval</dt>
              <dd><%= @application.credit_check_approval %></dd>

              <dt>Bg check approval</dt>
              <dd><%= @application.bg_check_approval %></dd>

              <dt>Signature</dt>
              <dd><%= @application.signature %></dd>

              <dt>Signature date</dt>
              <dd><%= @application.signature_date %></dd>

              <dt>Status</dt>
              <dd><%= @application.status %></dd>

              <dt>Listing</dt>
              <dd><%= @application.listing_id %></dd>

              <dt>Renter</dt>
              <dd><%= @application.renter_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/applications" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/applications/<%= @application.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_application/<%= @application.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
